ul {
  background-color: aquamarine;
  margin: 10px;
}

li {
  color: blue;
  text-transform: uppercase;
}

.clase1 h2 {
  color: pink;
}
.clase1 p {
  color: purple;
}

.clase2 {
  border: 2px solid red;
  background-color: purple;
  margin: 20px;
  color: grey;
}

.clase1, .clase2 {
  width: 400px;
}

h1 {
  background-color: blue;
}

h1 {
  font-size: 4px;
}

h2 {
  font-size: 8px;
}

h3 {
  font-size: 12px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 24px;
}

/*# sourceMappingURL=styles.css.map */
